<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <script src="https://kit.fontawesome.com/03a89292db.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../login/login.css">
</head>

<body>
    <section>
    <h1>Inicio de sesion</h1>
    <div class="container">
        <a href="../../Hotdog.html"> 
        <div class="logo">
            <img class="logo_img" src="../../images/logo.jpg" alt="">
        </div>
        </a>
        <form action="" class="form">
            <div class="form__usuario">
                <label for="">Usuario</label>
                <input type="text" class="usuario">
            </div>
            <div class="form__clave">
                <label for="">Contraseña</label>
                <input id="clave" type="password" class="clave">
                <span id="ver" class="ver_clave"><i id="icono" class="fas fa-eye"></i></span>
            </div>
            <a href="../../components/side-navbar/side-navbar.html" class="btn-neon">
                <span id="span1"></span>
                <span id="span2"></span>
                <span id="span3"></span>
                <span id="span4"></span>
                Ingresar
            </a>
        </form>
    </div>
    <script src="../login/login.js"></script>
</section>
</body>

</html>